.navbar {
    padding: 0;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .cardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.card img {
    padding: 0;
}

.card a {
    text-decoration: none;
    color: inherit;
}